svg rect {
        fill: orange;
    }

svg text {
    fill:white;
    font: 10px sans-serif;
    text-anchor: end;
}

.d3-chart {
    align-self:center;
    align-items: center;
    justify-items: center;
}